<div id="<%= dom_id movie %>">
  <p>
    <strong>Movie Name:</strong>
    <%= movie.Movie_Name %>
  </p>

  <p>
    <strong>Movie Description:</strong>
    <%= movie.Movie_Description %>
  </p>

  <p>
    <strong>Movie Director Name:</strong>
    <%= movie.Movie_Director_name %>
  </p>

  <p>
    <strong>Language of the Movie:</strong>
    <%= movie.Language_of_the_movie %>
  </p>

</div>
